<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container">
      <h1>404</h1>
      <p>The page you are looking for doesn't exist!</p>
      <a href="/"><button class="btn">Take me home</button></a>
    </div>
  </body>
</html>
