<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container">
      <h1>Anonymous Me</h1>
      <p>
        This app allows you to be as anonymous as you want. Receive anonymous
        messages from anonymous friends
      </p>
      <a href="/login"><button class="btn">Get Started</button></a>
    </div>
  </body>
</html>
