<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <p class="heading">Login to your Anonymous me account</p>
    <div class="card">
      <form action="/login">
        <input type="email" name="email" placeholder="Enter your email" />
        <input type="password" name="email" placeholder="Enter your password" />
        <input type="submit" class="btn" value="Login" name="login-btn" />
      </form>
      <a href="./reset-password" class="dark"> Forgot Password? </a>
    </div>
    <p>Not a user? <a href="/register">Sign Up</a></p>
    <footer>
      Design and Developed by
      <a target="_blank" href="https://oheneadjei.com">Ohene Adjei</a>
    </footer>
  </body>
</html>
