<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <h1>Hello <%= name %></h1>
    <p><%= link %></p>
    <p class="heading">All messages</p>
    <% if(messages.length > 0) { %> <% messages.forEach(message => { %>

    <div class="card">
      <p class="dark"><%= message.message%></p>
      <span>9:00 pm 23-03-22</span>
    </div>
    <%}) %> <%}else{%>
    <p>You havent recieved any messages yet</p>
    <% } %>
    <p>
      Want to receive more messages?
      <a href="/share">Share your link</a>
    </p>
  </body>
</html>
