<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <p class="heading">Create your Anonymous me account</p>
    <div class="card">
      <form action="/register" method="POST">
        <input
          type="text"
          name="firstname"
          placeholder="Enter your first name"
        />
        <input type="text" name="lastname" placeholder="Enter your last name" />
        <input type="email" name="email" placeholder="Enter your email" />
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <input
          type="password"
          name="confirm-password"
          placeholder="Confirm your password"
        />
        <input type="submit" class="btn" value="Login" name="login-btn" />
      </form>
    </div>
    <p>Already a user? <a href="/login">Login</a></p>
  </body>
</html>
