<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <p class="heading">We will send you a link to reset your password</p>
    <div class="card">
      <form action="/login">
        <input type="email" name="email" placeholder="Enter your email" />
        <input
          type="submit"
          class="btn"
          value="Reset Password"
          name="login-btn"
        />
      </form>
    </div>
    <p>Back to <a href="/login">Login</a></p>
  </body>
</html>
