<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <p class="heading">
      Your identity is hidden, feel free to express yourself to @username
    </p>
    <div class="card">
      <form action="/message" method="POST">
        <input id="user" type="hidden" name="username" />
        <textarea
          name="message"
          id="message"
          cols="30"
          rows="10"
          placeholder="Enter your message"
        ></textarea>
        <input
          type="submit"
          class="btn"
          value="Send Message"
          name="login-btn"
        />
      </form>
    </div>
    <p>
      Receive anonymous messages from friends?<a href="/register"
        > Create your account</a
      >
    </p>
  </body>
  <footer class="footer">
      Design and Developed by
      <a target="_blank" href="https://oheneadjei.com"> Ohene Adjei</a>
    </footer>
    <script>
      const userInput = document.getElementById("user");
      const url = window.location.href.split('/');
      const user = url[url.length - 1];
      console.log(user);
      userInput.value = user;
    </script>
  </body>
</html>
