<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>Anonymous Me</title>
  </head>
  <body>
    <p class="heading">
      Your identity is hidden, feel free to express yourself to @username
    </p>
    <div class="card">
      <form action="/login">
        <textarea
          name="message"
          id="message"
          cols="30"
          rows="10"
          placeholder="Enter your message"
        ></textarea>
        <input
          type="submit"
          class="btn"
          value="Send Message"
          name="login-btn"
        />
      </form>
    </div>
    <p>
      Receive anonymous messages from friends?<a href="/register.html"
        >Create your account</a
      >
    </p>
  </body>
</html>
