<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <p class="heading">
      Your identity is hidden, feel free to express yourself to @username
    </p>
    <div class="card">
      <form action="/login">
        <textarea
          name="message"
          id="message"
          cols="30"
          rows="10"
          placeholder="Enter your message"
        ></textarea>
        <input
          type="submit"
          class="btn"
          value="Send Message"
          name="login-btn"
        />
      </form>
    </div>
    <p>
      Receive anonymous messages from friends?<a href="/register"
        >Create your account</a
      >
    </p>
  </body>
</html>
