<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container">
      <p>Share your links with your friends and have some fun!</p>
      <div class="share-links">
        <a href="#"><button class="btn">Copy Link</button></a>
        <a href="#"><button class="btn whatsapp">Share on WhatsApp</button></a>
        <a href="#"><button class="btn facebook">Share on Facebook</button></a>
        <a href="#"><button class="btn twitter">Share on Twitter</button></a>
      </div>
      <p>Back to <a href="/mymessages">Messages</a></p>
    </div>
  </body>
</html>
