<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>Anonymous Me</title>
  </head>
  <body>
    <div class="container">
      <p>Share your links with your friends and have some fun!</p>
      <div class="share-links">
        <a href="#"><button class="btn">Copy Link</button></a>
        <a href="#"><button class="btn whatsapp">Share on WhatsApp</button></a>
        <a href="#"><button class="btn facebook">Share on Facebook</button></a>
        <a href="#"><button class="btn twitter">Share on Twitter</button></a>
      </div>
      <p>Back to <a href="/login.html">Login</a></p>
    </div>
  </body>
</html>
