<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container">
      <h1>Message Sent!</h1>
      <p>
        You can also receive messages Anonymously by creating your account for
        free
      </p>
      <a href="/login"><button class="btn">Create Account</button></a>
    </div>
  </body>
</html>
